<!-- <h1 class="page-title">Search for characters</h1> -->

<h3 class="search-title">Name of the character</h3>
<mat-form-field class="w-100" appearance="fill">
  <mat-label>Search</mat-label>
  <input id="search-bar" type="text" matInput (change)="searchHero($event)" />
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<p class="nomes-personagens">Characters</p>
<div
  class="hero-list"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
>
  <lib-hero-card
    *ngFor="let hero of model"
    [cardTitle]="hero.name"
    [cardImageAlt]="hero.name"
    [cardImage]="hero.thumbnail.path + '.' + hero.thumbnail.extension"
    [cardDescription]="
      hero.description == '' ? 'No description found' : hero.description
    "
  ></lib-hero-card>
</div>
<h3 [hidden]="hasResults">
  Ops... looks like there's no character with this name
</h3>
