.page-title {
  font-weight: bold;
  text-align: center;
}

.hero-name {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  margin-left: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.hero-image {
  border-radius: 5px;
}
