@import "/src/app/variables.scss";

.marvel-banner {
  background-image: linear-gradient(rgba($gray, 0.3), rgba($dark-gray, 0.7)),
    url("../../../../assets/images/Marvel-Comics-Character-Banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
  height: 200px;
  width: 100%;
  position: relative;
  margin-bottom: 200px;

  .hero-profile-image {
    border-radius: 100px;
    height: 180px;
    width: 180px;
    position: absolute;
    top: 40px;
    left: 20px;
    border: 5px solid #f0131e;
  }

  .hero-info {
    position: absolute;
    top: 250px;
    left: 20px;
    .hero-name {
      font-size: 22px;
      line-height: 26px;
    }
  }
}

mat-card {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5) !important;
  -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5) !important;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5) !important;

  .sub-header{
    font-size: 20px;
    line-height: 24px;
  }
}


.hero-profile {
  padding: 0px;
  height: 350px;
}
